
body {
	background-color: #CED8E8;
	margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}


h1 {
  color: black;
  text-align: center;
  font-family: Calisto MT;
}

p {
  font-family: Century Gothic;
  font-size: 15px;
}

.intro {
  font-family: Century Gothic;
  font-size: 20px; 
}

.fine_print {
  font-size: 15px;
  color: gray
}

.rounded_box {
  background-color: white; 
  border-radius: 25px; 
  padding: 20px
}